.footer{
    background-color: $bgColor;
    padding-bottom: 40px;
    &__logo-wrapper{
        @media (max-width: $md2+px){
            text-align: center;
        }
    }
	&__content{
        display: flex;
        justify-content: space-between;
        @media (max-width: $md2+px){
            display: block;
        }
        img{
            max-width: 232px;
        }
        p{
            color: $white;
            font-size: 1.25rem;
            margin: auto 0 auto 0;
            @media (max-width: $md2+px){
                text-align: center;
                margin-top: 15px;
            }
            @media (max-width: $md3+px){
                font-size: 1rem;
            }
        }
    }
}