//Header
.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $headerHeight;
	position: relative;
	z-index: 22;
	@media (max-width: $md2+px){
		height: 100px;
	}
	&__menu{
		display: flex;
		align-items: center;
		z-index: 3;
		.last-li{
			margin-right: 0;
		}
		li{
			margin-right: 3vw;
			padding: 10px 0;
			&:last-child{
				margin: 0;
			}
		}
		& > li{
			position: relative;
		}
		a{
			color: $white;
			display: inline-block;
			font-size: 1.25rem;
			&:after {
				display: block;
				content: "";
				height: 2px;
				width: 0%;
				background-color: $text;
				transition: width .3s ease-in-out;
			}
			&:hover{
				color: $textColor;
				&:after{
					width: 100%;
					background-color: $textColor;	
				}
			}
		}
		@media (max-width: $md2+px) {
			display: block;
			position: fixed;
			overflow-y: auto;
			text-align: center;
			top: -28%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.9);
			padding: 100px 30px 30px 30px;
			left: -100%;
			transition: left 0.3s ease;
			transform: translateY($headerHeight);
			& > li{
				padding: 0;
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0;
				}
			}
			a{
				color: $white;
				font-size: 2rem;
			}
			&.active{
				left: 0;
			}
		}
	}
	&__logo{
		max-width: 232px;
		@media (max-width:1300px){
			max-width: 200px;
		}
	}
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span, &:before, &:after{
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $white;
		}
		&:before, &:after{
			content : " ";
		}
		&:before {
			top: 0px;
		}
		&:after {
			top: auto;
			bottom: 0px;
		}
		&.active {
			span {
				transform: scale(0);
			}
			&:before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&:after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px)
			}
		}
	}
}

.desc-button{
	@media (max-width: $md2+px){
		display: none;
	}
}

.burger-button{
	display: none !important;
	@media (max-width: $md2+px){
		display: inline-block !important;
	}
	@media (max-width: $md3+px){
		font-size: 1rem !important;
		text-align: center;
		white-space: nowrap;
	}
	@media (max-width: $md4+px){
		width: 100%;
	}
}
