$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1520;
$md1: $maxWidthContainer + 12;
$md2: 1250;
$md3: 767.98;
$md4: 479.98;

$text: #1d1d1f;
$accent: #db042d;
$textColor: #BA400F;
$bgColor: #0A212E;
$white: #ffffff;
$coloredText: #0FA5BA;
$indexBg: #F9F9F9;
$h2color: #BA400F;
$stepsColor: #2C3942;
$titleColor: #FF0000;
$faqBorder: rgba(255, 255, 255, 0.15);

$headerHeight: 187px;