@charset "UTF-8";

@font-face {
  font-family: "SofiaPro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SofiaProRegular.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaPro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/SofiaProMedium.woff2") format("woff2");
}

@font-face {
  font-family: "SofiaPro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SofiaProBold.woff2") format("woff2");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SofiaPro", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "SofiaPro", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

p {
  line-height: 25px;
}

body {
  color: #1d1d1f;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.button {
  color: #ffffff;
  background: #BA400F;
  padding: 17px 44px;
  border-radius: 10px;
  font-size: 1rem;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 500;
  cursor: pointer;
}

.button i {
  margin-left: 10px;
}

.button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.get-container {
  max-width: 1658px;
}

.protect-container {
  max-width: 1620px;
}

.stay-container {
  max-width: 1720px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block,
._tabs-block-image {
  display: none;
}

._tabs-block._active,
._tabs-block-image._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 187px;
  position: relative;
  z-index: 22;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.header__menu .last-li {
  margin-right: 0;
}

.header__menu li {
  margin-right: 3vw;
  padding: 10px 0;
}

.header__menu li:last-child {
  margin: 0;
}

.header__menu > li {
  position: relative;
}

.header__menu a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.25rem;
}

.header__menu a:after {
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  background-color: #1d1d1f;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.header__menu a:hover {
  color: #BA400F;
}

.header__menu a:hover:after {
  width: 100%;
  background-color: #BA400F;
}

.header__logo {
  max-width: 232px;
}

.icon-menu {
  display: none;
}

.burger-button {
  display: none !important;
}

.footer {
  background-color: #0A212E;
  padding-bottom: 40px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content img {
  max-width: 232px;
}

.footer__content p {
  color: #ffffff;
  font-size: 1.25rem;
  margin: auto 0 auto 0;
}

.video {
  position: relative;
  margin-top: 140px;
  width: 100%;
  padding-bottom: 56.25%;
  max-height: 789.33px;
}

.video svg {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.video:hover .video__link::after {
  opacity: 0;
}

.video:hover svg {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.video__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 789.33px;
}

.video__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4)));
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.video__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 789.33px;
  border: none;
  border-radius: 20px;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  display: none;
  padding: 0;
  width: 85px;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
}

.video__button svg circle {
  fill: #0FA5BA;
}

#play {
  fill: #ffffff;
}

.video__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}

.video__button-icon {
  fill: #ffffff;
}

.video__button:focus {
  outline: none;
}

.video:hover .video__button-shape,
.video__button:focus .video__button-shape {
  fill: #ff0000;
  fill-opacity: 1;
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #0A212E;
}

.cuted {
  -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
          clip-path: polygon(0 25%, 100% 0%, 100% 75%, 0% 100%);
  background-color: #F9F9F9;
  color: #000;
  padding-top: 350px;
  padding-bottom: 350px;
}

.cuted.cuted-bottom {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
  padding-top: 100px;
}

.hero-section {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-color: #0A212E;
  position: relative;
}

.hero-section__content {
  text-align: center;
  color: #ffffff;
  margin-top: 127px;
  position: relative;
  z-index: 11;
}

.hero-section__content p {
  font-size: 1.25rem;
  margin: 10px 0 10px 0;
}

.hero-section__content h2 {
  font-size: 5.125rem;
}

.hero-section__button {
  margin-top: 20px;
}

.colored {
  color: #0FA5BA;
  font-weight: 400;
}

.bg {
  position: absolute;
  z-index: 10;
  top: 0;
}

.rga-index {
  background-color: #F9F9F9;
  position: relative;
}

.rga-index__top-subtitle {
  text-align: center;
  margin-top: 15px;
  font-size: 1.25rem;
}

.rga-index__content {
  padding: 130px 0 130px 0;
  position: relative;
  z-index: 11;
}

.rga-index__content h2 {
  font-size: 5rem;
  max-width: 1045px;
  margin: 0 auto 0 auto;
  text-align: center;
}

.rga-index__content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.rga-index__content li p {
  max-width: 717px;
  font-weight: 400;
}

.rga-index__content li img {
  max-width: 25px;
  max-height: 25px;
  margin: 0 15px 16px 0;
}

.rga-index__list-wrapper {
  margin: 60px auto 0 auto;
  max-width: 760px;
}

.rga-index__subtitle {
  max-width: 760px;
  margin: 20px auto 0 auto;
  text-align: left;
  font-size: 1.25rem;
}

.rga-index__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.phone {
  background-color: #0A212E;
}

.phone__content {
  padding: 100px 0 100px 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.phone__right {
  color: #ffffff;
  margin-top: 50px;
}

.phone__right h2 {
  font-size: 4.688rem;
  max-width: 733px;
}

.phone__right p {
  margin-top: 20px;
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 692px;
}

.phone__right p b {
  font-weight: 700;
}

.phone__button {
  margin-top: 30px;
}

.fourth-section {
  position: relative;
}

.fourth-section h2,
.fourth-section p {
  position: relative;
  z-index: 2;
}

.fourth-section h2 {
  font-size: 2.688rem;
  color: #FF0000;
  max-width: 490px;
  font-weight: 600;
}

.fourth-section p {
  font-size: 1.25rem;
  margin-top: 20px;
  max-width: 406px;
}

.fourth-section .description {
  text-align: center;
  font-size: 1.25rem;
  max-width: none;
}

.fourth-section .grid-3 {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 85px;
}

.fourth-section .image {
  position: relative;
}

.fourth-section .image .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 700px;
  z-index: 1;
}

.fourth-section .image img {
  position: relative;
  z-index: 2;
}

.fourth__button {
  background-color: #0FA5BA;
}

.get {
  background-color: #0A212E;
  color: #ffffff;
  position: relative;
  padding: 140px 0 0 0;
}

.get .bg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 1100px;
}

.get__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 30px;
}

.get__item {
  margin-bottom: 100px;
}

.get__item h2 {
  font-size: 4rem;
  max-width: 878px;
}

.get__item p {
  margin-top: 15px;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.get__item p :last-child {
  margin-bottom: 0;
}

.get__item img {
  border-radius: 20px;
  max-width: 750px;
}

.get__button {
  margin-top: 20px;
}

.data {
  padding: 130px 0 130px 0;
  background-color: #F9F9F9;
}

.data__content {
  text-align: center;
}

.data__content h2 {
  font-size: 5.625rem;
  max-width: 980px;
  margin: 0 auto 0 auto;
}

.data__content p {
  font-size: 1.25rem;
  max-width: 933px;
  margin: 20px auto 0 auto;
  line-height: 25px;
}

.steps {
  color: #ffffff;
  padding: 110px 0 0 0;
  background-color: #0A212E;
}

.steps__title {
  font-size: 4.688rem;
  text-align: center;
  max-width: 1022px;
  margin: 0 auto 0 auto;
}

.steps__top-subtitle {
  text-align: center;
  margin-top: 15px;
  font-size: 1.25rem;
}

.steps__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
  grid-gap: 20px;
  position: relative;
  z-index: 3;
}

.steps__grid .line {
  position: absolute;
  top: 42px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 71%;
  left: 14.55%;
  z-index: 2;
}

.steps__item {
  text-align: center;
}

.steps__item h3 {
  font-size: 2.188rem;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  background-color: #2C3942;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.steps__item h2 {
  margin-top: 34px;
  font-size: 2.188rem;
}

.steps__item p {
  margin: 5px auto 0 auto;
  font-size: 1.25rem;
  max-width: 380px;
}

.steps__item p .colored {
  font-weight: 700;
}

.steps__item .read-more-btn3 {
  font-weight: 700;
  text-decoration: underline;
  color: #0FA5BA;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
}

.steps__item .read-more-btn4 {
  font-weight: 700;
  text-decoration: underline;
  color: #0FA5BA;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
}

.steps__item .read-more-btn5 {
  font-weight: 700;
  text-decoration: underline;
  color: #0FA5BA;
  background-color: transparent;
  font-size: 1.25rem;
  text-align: center;
}

.steps__bot-subtitle {
  text-align: center;
  font-size: 1.25rem;
  max-width: 912px;
  margin: 113px auto 0 auto;
}

.left-wrapper {
  margin-top: 80px;
}

.left-wrapper .button {
  margin-top: 40px;
}

.circle-section h2 {
  color: #0FA5BA;
  max-width: 490px;
  font-weight: 500;
}

.circle-section .fourth-section .image .bg {
  top: 58%;
  width: 650px;
}

.circle-section .middle-bg {
  top: 60% !important;
  width: 680px !important;
}

.invest {
  color: #ffffff;
  text-align: center;
  padding: 140px 0 140px 0;
  background-color: #0A212E;
}

.invest__content {
  margin-top: 10px;
}

.invest__content h2 {
  font-size: 4.688rem;
  max-width: 1022px;
  margin: 0 auto 0 auto;
}

.invest__content p {
  font-size: 1.25rem;
  max-width: 912px;
  margin: 15px auto 0 auto;
}

.invest__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 35px;
  grid-gap: 67px;
}

.invest__item img {
  width: 42px;
  height: 42px;
}

.invest__item p {
  margin-top: 35px;
  font-size: 1.25rem;
  max-width: 460px;
  margin: 35px auto 0 auto;
}

.invest__item .img-wrapper {
  padding: 22px;
  border-radius: 100px;
  background-color: #2C3942;
  display: inline-block;
}

.invest__subtitle {
  margin-top: 60px;
  max-width: 912px;
  margin: 60px auto 0 auto;
}

.discover.cuted {
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 160px;
}

.discover {
  background-color: #F9F9F9;
}

.discover__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.discover__left {
  margin-top: 50px;
}

.discover__left img {
  border-radius: 20px;
  max-width: 800px;
}

.discover__right h2 {
  font-size: 5rem;
  max-width: 744px;
}

.discover__text {
  margin-top: 15px;
}

.discover__text p {
  margin-bottom: 25px;
  font-size: 1.25rem;
  max-width: 744px;
}

.discover__button {
  margin-top: 55px;
}

.algorithm {
  padding: 130px 0 130px 0;
  color: #ffffff;
  text-align: center;
}

.algorithm h2 {
  font-size: 5.625rem;
  max-width: 1067px;
  margin: 0 auto 0 auto;
}

.algorithm p {
  font-size: 1.25rem;
  max-width: 933px;
  margin: 20px auto 0 auto;
}

.algorithm__button {
  margin-top: 30px;
}

.protect {
  background-color: #F9F9F9;
  padding: 110px 0 210px 0;
  position: relative;
  z-index: 2;
}

.protect__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.protect__left h2 {
  font-size: 5rem;
  max-width: 774px;
}

.protect__left p {
  margin: 0 auto 20px auto;
  font-size: 1.25rem;
  max-width: 774px;
}

.protect__text {
  margin-top: 15px;
}

.protect__right {
  margin-top: 50px;
}

.protect__button {
  margin-top: 25px;
}

.testimonials {
  padding: 175px 0 150px 0;
  position: relative;
  z-index: 1;
  color: #ffffff;
  background-color: #0A212E;
}

.testimonials__content h2 {
  text-align: center;
  font-size: 5.625rem;
  max-width: 1067px;
  margin: 0 auto 0 auto;
  position: relative;
  z-index: 1000;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  margin-bottom: 84px;
  grid-gap: 48px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.testimonials__item {
  padding: 35px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

.testimonials__item .read-more-btn {
  font-weight: 700;
  text-decoration: underline;
  color: #0FA5BA;
  background-color: transparent;
  font-size: 1.125rem;
  text-align: center;
  margin-left: 5px;
}

.testimonials__item .read-more-btn2 {
  font-weight: 700;
  text-decoration: underline;
  color: #0FA5BA;
  background-color: transparent;
  font-size: 1.125rem;
  text-align: center;
  margin-left: 5px;
}

.testimonials__item .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.testimonials__item .title:before {
  display: none;
}

.testimonials__item .title h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: -4px;
}

.testimonials__item .title .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 10px auto 10px;
}

.testimonials__item .title .stars img {
  max-width: 19px;
  min-width: 19px;
  margin-bottom: 0;
  margin-right: 4px;
  vertical-align: middle;
}

.testimonials__item .title .stars img:nth-child(5) {
  margin-right: 0;
}

.testimonials__item .title span {
  font-size: 15px;
  color: #bdbdbd;
  margin: 2.5px 0 auto 0;
}

.testimonials__item p {
  font-size: 1.125rem;
  opacity: 0.75;
  line-height: 25px;
}

.testimonials__item img {
  width: 46px;
  min-width: 46px;
  margin-right: 20px;
}

.popup {
  padding: 71px 85px;
  background-color: #0FA5BA;
  color: #ffffff;
  border-radius: 30px;
  background-image: url(../img/popup-bg.svg);
  background-size: cover;
  position: absolute;
  margin-top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -66%);
      -ms-transform: translate(-50%, -66%);
          transform: translate(-50%, -66%);
  z-index: 100;
  width: 80%;
}

.popup__content {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 120px;
}

.popup__left h2 {
  font-size: 3.125rem;
}

.popup__left p {
  font-size: 1.25rem;
  max-width: 825px;
  margin-top: 18px;
}

.popup__button {
  background-color: #ffffff;
  color: #1d1d1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.dont-stay {
  background-color: #F9F9F9;
  color: #1d1d1f;
  padding: 100px 0 100px 0;
}

.dont-stay__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.dont-stay__left {
  margin-top: 280px;
}

.dont-stay__left img {
  max-height: 900px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dont-stay__right h2 {
  font-size: 5rem;
  max-width: 950px;
}

.dont-stay__text {
  margin-top: 15px;
}

.dont-stay__text p {
  margin-bottom: 20px;
  max-width: 864px;
  font-size: 1.25rem;
}

.faq {
  color: #ffffff;
  padding: 50px 0 50px 0;
}

.faq__grid1 {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 20px;
}

.faq__grid1-item h2 {
  font-size: 4.688rem;
  max-width: 949px;
}

.faq__grid1-item img {
  max-width: 683px;
}

.faq__text {
  margin-top: 20px;
}

.faq__text p {
  margin-bottom: 20px;
  font-size: 1.25rem;
  max-width: 949px;
}

.faq__grid2 {
  display: grid;
  grid-template-columns: 145px 1fr;
  grid-gap: 538px;
  margin-top: 150px;
}

.faq__grid2-item h2 {
  font-size: 4.688rem;
}

.faq__about {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 30px;
  padding-top: 30px;
}

.faq__about h2 {
  font-size: 1.875rem;
}

.faq__about p {
  font-size: 1rem;
  color: #BDBDBD;
  margin-top: 5px;
}

.faq .popup-container {
  margin-top: 0;
}

.faq .footer-popup {
  margin-top: 100px;
  margin-bottom: 100px;
  position: initial;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  width: 100%;
}

.toxic__button {
  background-color: #0FA5BA;
}

.popup-container {
  margin-top: 50px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.moreText {
  display: none;
}

.moreText2 {
  display: none;
}

.moreText3 {
  display: none;
}

.moreText4 {
  display: none;
}

.moreText5 {
  display: none;
}

.text1.show-more .moreText {
  display: inline;
}

.text2.show-more2 .moreText2 {
  display: inline;
}

.text2.show-more2 .read-more-btn2 {
  margin-left: 0;
}

.text1.show-more .read-more-btn {
  margin-left: 0;
}

.text3.show-more3 .moreText3 {
  display: inline;
}

.text4.show-more4 .moreText4 {
  display: inline;
}

.text5.show-more5 .moreText5 {
  display: inline;
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 1250px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 1700px) {
  .popup {
    padding: 50px 80px;
  }
}

@media (max-width: 1532px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .get-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .stay-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cuted {
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .cuted.cuted-bottom {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

  .steps__grid .line {
    display: none;
  }
}

@media (max-width: 1520px) {
  .hero-section {
    padding-bottom: 113px;
  }
}

@media (max-width: 1400px) {
  .testimonials__grid {
    grid-gap: 20px;
  }

  .faq__grid2 {
    margin-top: 70px;
    grid-gap: 300px;
  }
}

@media (max-width: 1300px) {
  .header__logo {
    max-width: 200px;
  }
}

@media (max-width: 1250px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header {
    height: 100px;
  }

  .header__menu {
    display: block;
    position: fixed;
    overflow-y: auto;
    text-align: center;
    top: -28%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    left: -100%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
    -webkit-transform: translateY(187px);
        -ms-transform: translateY(187px);
            transform: translateY(187px);
  }

  .header__menu > li {
    padding: 0;
    margin-bottom: 30px;
  }

  .header__menu > li:last-child {
    margin-bottom: 0;
  }

  .header__menu a {
    color: #ffffff;
    font-size: 2rem;
  }

  .header__menu.active {
    left: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu:before,
  .icon-menu:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }

  .icon-menu:before,
  .icon-menu:after {
    content: " ";
  }

  .icon-menu:before {
    top: 0px;
  }

  .icon-menu:after {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .desc-button {
    display: none;
  }

  .burger-button {
    display: inline-block !important;
  }

  .footer__logo-wrapper {
    text-align: center;
  }

  .footer__content {
    display: block;
  }

  .footer__content p {
    text-align: center;
    margin-top: 15px;
  }

  .video {
    margin-top: 50px;
  }

  .cuted {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .cuted.cuted-bottom {
    padding-top: 50px;
  }

  .hero-section__content {
    margin-top: 50px;
    font-size: 3rem;
  }

  .hero-section__content p {
    font-size: 1.1rem;
  }

  .hero-section__content h2 {
    font-size: 3rem;
  }

  .rga-index__content {
    padding: 50px 0 50px 0;
  }

  .rga-index__content h2 {
    font-size: 4rem;
  }

  .phone__content {
    grid-template-columns: repeat(1, 1fr);
    padding: 50px 0 30px 0;
  }

  .phone__right {
    margin-top: 50px;
  }

  .phone__right h2 {
    font-size: 3rem;
  }

  .phone__right p {
    font-size: 1.1rem;
  }

  .fourth-section h2 {
    text-align: center;
    max-width: none;
  }

  .fourth-section p {
    text-align: center;
    max-width: none;
  }

  .fourth-section .grid-3 {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .fourth-section .image {
    text-align: center;
  }

  .fourth-section .image img {
    max-width: 551px;
    text-align: center;
  }

  .fourth-section .image .bg {
    width: 100%;
  }

  .get {
    padding: 50px 0 50px 0;
  }

  .get__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .get__content :nth-child(4) {
    grid-row: 3;
  }

  .get__item {
    margin-bottom: 0;
    text-align: center;
  }

  .get__item h2 {
    max-width: none;
  }

  .data {
    padding: 70px 0 70px 0;
  }

  .data__content h2 {
    font-size: 4.5rem;
    max-width: none;
  }

  .data__content p {
    font-size: 1.1rem;
  }

  .steps {
    padding: 50px 0 110px;
  }

  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  .left-wrapper {
    margin-top: 0;
  }

  .invest.cuted {
    padding-bottom: 131px;
    padding-top: 120px;
  }

  .discover.cuted {
    padding-bottom: 70px;
    -webkit-clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
  }

  .discover__content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .discover__left {
    text-align: center;
  }

  .discover__right h2 {
    text-align: center;
    margin: 0 auto 0 auto;
  }

  .discover__text p {
    margin: 0 auto 25px auto;
    text-align: center;
    margin-bottom: 15px;
  }

  .discover__button-wrapper {
    text-align: center;
  }

  .discover__button {
    margin-top: 20px;
  }

  .algorithm {
    padding: 50px 0 50px 0;
  }

  .algorithm h2 {
    font-size: 4.5rem;
  }

  .fourth-button-wrapper {
    text-align: center;
  }

  .protect {
    padding: 50px 0 50px 0;
  }

  .protect__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .protect__left h2 {
    font-size: 4rem;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  .protect__left p {
    text-align: center;
  }

  .protect__button-wrapper {
    text-align: center;
  }

  .protect__right img {
    max-width: 745px;
  }

  .testimonials.cuted {
    padding-top: 40px;
  }

  .testimonials__content h2 {
    font-size: 4.5rem;
    margin-top: 40px;
  }

  .testimonials__grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .testimonials__item {
    max-width: 475px;
  }

  .testimonials__item .title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .testimonials__item {
    padding: 25px;
  }

  .popup {
    position: relative;
    width: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    left: 0;
    padding: 50px;
  }

  .popup__content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }

  .popup__left h2 {
    text-align: center;
  }

  .popup__left p {
    text-align: center;
    margin: 18px auto 0 auto;
  }

  .popup__button-wrapper {
    text-align: center;
  }

  .popup__button {
    display: inline-block;
  }

  .dont-stay__content {
    display: block;
  }

  .dont-stay__left {
    margin-top: 40px;
  }

  .dont-stay__left img {
    max-height: none;
  }

  .dont-stay__right {
    margin-top: -220px;
    text-align: center;
  }

  .dont-stay__right h2 {
    font-size: 4rem;
    margin: 0 auto 0 auto;
  }

  .dont-stay__text p {
    margin: 0 auto 20px auto;
  }

  .dont-stay__button-wrapper {
    text-align: center;
  }

  .faq__grid1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .faq__grid1-item {
    text-align: center;
  }

  .faq__grid1-item h2 {
    margin: 0 auto 0 auto;
    font-size: 3.5rem;
  }

  .faq__text p {
    margin: 20px auto 0 auto;
  }

  .faq__text p {
    font-size: 1rem;
    margin-top: 15px;
  }

  .faq__grid2 {
    grid-gap: 100px;
    margin-top: 30px;
  }

  .faq__button {
    margin-top: 20px;
  }

  .faq .footer-popup {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media (max-width: 1000px) {
  .hero-section {
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .get-container {
    max-width: none;
    padding: 0 10px;
  }

  .stay-container {
    max-width: none;
    padding: 0 10px;
  }

  .burger-button {
    font-size: 1rem !important;
    text-align: center;
    white-space: nowrap;
  }

  .footer__content p {
    font-size: 1rem;
  }

  .hero-section__content {
    margin-top: 30px;
  }

  .hero-section__content p {
    font-size: 1rem;
  }

  .hero-section__content h2 {
    font-size: 2rem;
  }

  .rga-index__top-subtitle {
    font-size: 1rem;
  }

  .rga-index__content h2 {
    font-size: 2rem;
  }

  .rga-index__content li {
    font-size: 1rem;
  }

  .rga-index__list-wrapper {
    margin-top: 30px;
  }

  .rga-index__subtitle {
    font-size: 1rem;
    max-width: none;
    text-align: center;
  }

  .phone__right {
    text-align: center;
  }

  .phone__right h2 {
    font-size: 2rem;
  }

  .phone__right p {
    font-size: 1rem;
    margin-top: 10px;
  }

  .fourth-section h2 {
    font-size: 2rem;
  }

  .fourth-section p {
    font-size: 1rem;
  }

  .fourth-section .description {
    font-size: 1rem;
  }

  .fourth-section .grid-3 {
    margin-bottom: 15px;
  }

  .fourth-section {
    padding-top: 170px;
  }

  .get__item h2 {
    font-size: 3rem;
  }

  .get__item p {
    margin-bottom: 15px;
    font-size: 1rem;
  }

  .data {
    padding: 50px 0 50px;
  }

  .data__content h2 {
    font-size: 3rem;
  }

  .data__content p {
    font-size: 1rem;
  }

  .steps__title {
    font-size: 3rem;
    max-width: none;
  }

  .steps__top-subtitle {
    font-size: 1rem;
  }

  .steps__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .steps__item h2 {
    margin-top: 20px;
  }

  .steps__item p {
    font-size: 1rem;
  }

  .steps__item .read-more-btn3 {
    font-size: 1rem;
  }

  .steps__item .read-more-btn4 {
    font-size: 1rem;
  }

  .steps__item .read-more-btn5 {
    font-size: 1rem;
  }

  .steps__bot-subtitle {
    font-size: 1rem;
    margin-top: 50px;
  }

  .invest__content h2 {
    font-size: 3.5rem;
  }

  .invest__content p {
    font-size: 1rem;
  }

  .invest__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }

  .invest__item p {
    margin-top: 20px;
    font-size: 1rem;
  }

  .discover.cuted {
    padding-bottom: 50px;
  }

  .discover__right h2 {
    font-size: 4rem;
  }

  .algorithm h2 {
    font-size: 3.5rem;
  }

  .algorithm p {
    font-size: 1.1rem;
  }

  .protect__left h2 {
    font-size: 3rem;
  }

  .protect__left p {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .protect__button {
    margin-top: 15px;
  }

  .testimonials__content h2 {
    font-size: 4rem;
    margin-top: 55px;
  }

  .testimonials__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .testimonials__item .title h4 {
    font-size: 1rem;
    text-align: left;
    margin-top: 3.5px;
  }

  .testimonials__item .title span {
    margin-top: 2px;
  }

  .testimonials__item p {
    font-size: 1rem;
  }

  .testimonials__item img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .popup {
    padding: 20px;
  }

  .popup__content {
    grid-gap: 15px;
  }

  .popup__left h2 {
    font-size: 2.5rem;
  }

  .popup__left p {
    font-size: 1rem;
  }

  .dont-stay__right {
    margin-top: -190px;
  }

  .dont-stay__right h2 {
    font-size: 3rem;
  }

  .dont-stay__text p {
    font-size: 1rem;
  }

  .faq__grid2 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .faq__grid2-item h2 {
    text-align: center;
  }

  .faq__about {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .faq__about h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 479.98px) {
  .burger-button {
    width: 100%;
  }

  .hero-section__button {
    width: 100%;
    text-align: center;
  }

  .rga-index__button {
    width: 100%;
    text-align: center;
  }

  .phone__right {
    margin-top: 30px;
  }

  .phone__button {
    width: 100%;
    text-align: center;
  }

  .get__item h2 {
    font-size: 2.5rem;
  }

  .get__button {
    width: 100%;
    text-align: center;
  }

  .invest__content h2 {
    font-size: 3rem;
  }

  .discover__right h2 {
    font-size: 3rem;
  }

  .discover__text p {
    font-size: 1rem;
  }

  .discover__button {
    width: 100%;
    text-align: center;
  }

  .algorithm h2 {
    font-size: 3rem;
  }

  .algorithm p {
    font-size: 1rem;
  }

  .algorithm__button {
    width: 100%;
    text-align: center;
  }

  .fourth-button-wrapper .button {
    width: 100%;
    text-align: center;
  }

  .protect__button {
    width: 100%;
    text-align: center;
  }

  .testimonials__content h2 {
    font-size: 3rem;
  }

  .popup__button {
    width: 100%;
    text-align: center;
  }

  .dont-stay__right {
    margin-top: -130px;
  }

  .dont-stay__button {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }

  .faq {
    padding: 25px 0 25px 0;
  }

  .faq__grid1-item h2 {
    font-size: 3rem;
  }

  .faq__button {
    width: 100%;
    text-align: center;
  }
}