<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/logo.svg" alt="logo">
	</a>
	<ul class="header__menu">
		<li><a href="rga__anchor" class="header__menu-link anchor">About RDA Index</a></li>
		<li><a href="data" class="header__menu-link anchor">How it works</a></li>
		<li><a href="invest__anchor" class="header__menu-link anchor">Benefits</a></li>
		<li class="last-li"><a href="testimonials" class="header__menu-link anchor">Testimonials</a></li>
		<a href="https://rdaindex.com/customer/sign-up" class="button burger-button">START MY FREE TRIAL <i class="far fa-arrow-right"></i></a>                   
	</ul>
	<a href="https://rdaindex.com/customer/sign-up" class="button desc-button">START MY FREE TRIAL <i class="far fa-arrow-right"></i></a>
	<div class="icon-menu"><span></span></div>
</header>